*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}
body , .container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #3f3f3f;
}
#result{
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 5px 3px rgba(255, 255, 255, 0.753);
    color: rgb(0, 0, 0);
    margin: 10px 0px;
}
h3{
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 3px rgba(255, 255, 255, 0.705);
}
.players{
    display: flex;
    text-align: center;
}
img{
    width: 250px;
}

button{
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.26);
    color: white;
    border: 1px solid grey;
    margin: 10px 0px;
    border-radius: 10px;
    font-size: 1.5rem;
}